/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/in_facebook.scss */
html, body {
  padding: 0;
  margin: 0;
  font-family: '微軟正黑體', 'SimHei';
  color: #333;
}

/* line 22, ../sass/in_facebook.scss */
.ds-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/mapbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-flow: row nowrap;
  align-items: center;
}

/* line 33, ../sass/in_facebook.scss */
.ds-body {
  position: relative;
  height: 500px;
  min-width: 650px;
  flex: 1 1 100%;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 25px 25px rgba(255, 255, 255, 0.6);
}

/* line 43, ../sass/in_facebook.scss */
.ds-logo {
  width: 40%;
  height: 0;
  padding-top: 40%;
  margin: 5%;
  float: left;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 53, ../sass/in_facebook.scss */
.ds-title {
  position: relative;
  float: left;
  width: 50%;
  clear: right;
  z-index: 1;
}
/* line 59, ../sass/in_facebook.scss */
.ds-title h1 {
  font-size: 48px;
  line-height: 144px;
  font-weight: bold;
  color: #4B66A0;
  text-shadow: 0 -2px 0 #BBB;
  letter-spacing: 3px;
}
/* line 66, ../sass/in_facebook.scss */
.ds-title h1:after {
  content: 'dubSteps 步步';
  color: rgba(172, 186, 216, 0.7);
  text-shadow: none;
  display: inline-block;
  position: absolute;
  z-index: -1;
  transform-origin: 40% 40%;
  transform: rotate(20deg) scale(0.6);
  left: 0;
  top: 0;
}
/* line 78, ../sass/in_facebook.scss */
.ds-title h2 {
  color: black;
  font-size: 24px;
  font-weight: bold;
  transform: translateY(-24px);
  letter-spacing: 8px;
}
/* line 84, ../sass/in_facebook.scss */
.ds-start-process .ds-title h2 {
  letter-spacing: 0;
}

/* line 89, ../sass/in_facebook.scss */
.ds-start {
  float: left;
  width: 200px;
  height: 60px;
}

/* line 93, ../sass/in_facebook.scss */
.ds-download {
  float: left;
  color: white;
  font-size: 24px;
  background-color: #4E69A2;
  border-color: #435A8B #3C5488 #334C83;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  font-family: "helvetica neue",helvetica,arial,"lucida grande", "微軟正黑體",sans-serif;
  position: relative;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
/* line 107, ../sass/in_facebook.scss */
.ds-download:focus {
  box-shadow: 0 0 5px rgba(0, 0, 128, 0.8);
  outline: 0 !important;
}
/* line 111, ../sass/in_facebook.scss */
.ds-download::-moz-focus-inner {
  border: 0;
}

/* line 116, ../sass/in_facebook.scss */
.ds-start-process .ds-start, .ds-end-process .ds-start {
  display: none;
}

/* line 120, ../sass/in_facebook.scss */
.ds-download {
  display: none;
}
/* line 122, ../sass/in_facebook.scss */
.ds-end-process .ds-download {
  display: inline-block;
}

/* line 126, ../sass/in_facebook.scss */
.ds-description {
  float: left;
  width: 50%;
  transition: height 0.5s ease-out, oppacity 0.5s ease-out, margin-bottom 0.5s ease-out;
  text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 24px;
  letter-spacing: 2px;
  height: 144px;
}
/* line 143, ../sass/in_facebook.scss */
.ds-start-process .ds-description {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
}
/* line 148, ../sass/in_facebook.scss */
.ds-description a {
  text-decoration: none;
  color: #2456D2;
  text-shadow: 0 0 5px rgba(36, 86, 210, 0.5);
  font-weight: bold;
  margin: auto 5px;
}
/* line 154, ../sass/in_facebook.scss */
.ds-description a:hover {
  color: #7093EA;
  text-shadow: 0 0 5px rgba(112, 147, 234, 0.5);
}

/* line 160, ../sass/in_facebook.scss */
.ds-processing {
  float: left;
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: none;
}
/* line 167, ../sass/in_facebook.scss */
.ds-start-process .ds-processing {
  display: block;
}
/* line 170, ../sass/in_facebook.scss */
.ds-processing:before, .ds-processing:after {
  display: block;
  width: auto;
  position: absolute;
  font-size: 20px;
  text-indent: 36px;
  line-height: 32px;
  background-repeat: no-repeat;
  background-position: left center;
}
/* line 180, ../sass/in_facebook.scss */
.ds-processing:before {
  content: attr(data-success-msg);
  background-image: url(../images/success.png?123);
  bottom: 2em;
}
/* line 185, ../sass/in_facebook.scss */
.ds-processing:after {
  content: attr(data-fail-msg);
  background-image: url(../images/fail.png?123);
  bottom: 0em;
}

@-webkit-keyframes rotate {
  /* line 192, ../sass/in_facebook.scss */
  0%, 50%, 100% {
    transform: rotate(0deg) scale(0.8);
  }

  /* line 195, ../sass/in_facebook.scss */
  25% {
    transform: rotate(-5deg) scale(0.8);
  }

  /* line 198, ../sass/in_facebook.scss */
  75% {
    transform: rotate(5deg) scale(0.8);
  }

  /* line 201, ../sass/in_facebook.scss */
  0%,50%,100% {
    margin-top: 0px;
  }

  /* line 202, ../sass/in_facebook.scss */
  25%,75% {
    margin-top: -10px;
  }
}

@keyframes rotate {
  /* line 192, ../sass/in_facebook.scss */
  0%, 50%, 100% {
    transform: rotate(0deg) scale(0.8);
  }

  /* line 195, ../sass/in_facebook.scss */
  25% {
    transform: rotate(-5deg) scale(0.8);
  }

  /* line 198, ../sass/in_facebook.scss */
  75% {
    transform: rotate(5deg) scale(0.8);
  }

  /* line 201, ../sass/in_facebook.scss */
  0%,50%,100% {
    margin-top: 0px;
  }

  /* line 202, ../sass/in_facebook.scss */
  25%,75% {
    margin-top: -10px;
  }
}

@-webkit-keyframes rotate2 {
  /* line 205, ../sass/in_facebook.scss */
  0% {
    transform: rotateY(0deg) rotateX(70deg);
  }

  /* line 206, ../sass/in_facebook.scss */
  100% {
    transform: rotateY(360deg) rotateX(70deg);
  }
}

@keyframes rotate2 {
  /* line 205, ../sass/in_facebook.scss */
  0% {
    transform: rotateY(0deg) rotateX(70deg);
  }

  /* line 206, ../sass/in_facebook.scss */
  100% {
    transform: rotateY(360deg) rotateX(70deg);
  }
}

@-webkit-keyframes fetch_success2 {
  /* line 209, ../sass/in_facebook.scss */
  0%, 50% {
    transform: translate3D(0, 0, 0) scale(0.8);
    opacity: 1;
  }

  /* line 213, ../sass/in_facebook.scss */
  100% {
    transform: translate3D(0, -20px, 0) scale(1);
    opacity: 0;
  }
}

@keyframes fetch_success2 {
  /* line 209, ../sass/in_facebook.scss */
  0%, 50% {
    transform: translate3D(0, 0, 0) scale(0.8);
    opacity: 1;
  }

  /* line 213, ../sass/in_facebook.scss */
  100% {
    transform: translate3D(0, -20px, 0) scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes fetch_fail2 {
  /* line 219, ../sass/in_facebook.scss */
  0%, 50% {
    transform: translate3D(0, 0, 0) scale(0.8);
    opacity: 1;
  }

  /* line 223, ../sass/in_facebook.scss */
  100% {
    transform: rotateX(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fetch_fail2 {
  /* line 219, ../sass/in_facebook.scss */
  0%, 50% {
    transform: translate3D(0, 0, 0) scale(0.8);
    opacity: 1;
  }

  /* line 223, ../sass/in_facebook.scss */
  100% {
    transform: rotateX(90deg) scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes fetch_success {
  /* line 229, ../sass/in_facebook.scss */
  0%, 20%, 40%, 60% {
    transform: translate3D(0, 0, 0) scale(0.8);
  }

  /* line 232, ../sass/in_facebook.scss */
  10%, 30%, 50% {
    transform: translate3D(0, -20px, 0) scale(0.8);
  }

  /* line 235, ../sass/in_facebook.scss */
  0%, 80% {
    opacity: 1;
  }

  /* line 238, ../sass/in_facebook.scss */
  80% {
    transform: scale(0.8);
  }

  /* line 241, ../sass/in_facebook.scss */
  100% {
    opacity: 0;
    transform: translate3D(0, -50px, 0) scale(1);
  }
}

@keyframes fetch_success {
  /* line 229, ../sass/in_facebook.scss */
  0%, 20%, 40%, 60% {
    transform: translate3D(0, 0, 0) scale(0.8);
  }

  /* line 232, ../sass/in_facebook.scss */
  10%, 30%, 50% {
    transform: translate3D(0, -20px, 0) scale(0.8);
  }

  /* line 235, ../sass/in_facebook.scss */
  0%, 80% {
    opacity: 1;
  }

  /* line 238, ../sass/in_facebook.scss */
  80% {
    transform: scale(0.8);
  }

  /* line 241, ../sass/in_facebook.scss */
  100% {
    opacity: 0;
    transform: translate3D(0, -50px, 0) scale(1);
  }
}

@-webkit-keyframes fetch_fail {
  /* line 247, ../sass/in_facebook.scss */
  0%, 10%, 20%, 30% {
    transform: translate3D(0, 0, 0) scale(0.8);
  }

  /* line 250, ../sass/in_facebook.scss */
  5%, 15%, 25% {
    transform: translate3D(5px, 0, 0) scale(0.8);
  }

  /* line 253, ../sass/in_facebook.scss */
  0%, 50% {
    opacity: 1;
  }

  /* line 256, ../sass/in_facebook.scss */
  50% {
    transform: scale(0.8);
  }

  /* line 259, ../sass/in_facebook.scss */
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
}

@keyframes fetch_fail {
  /* line 247, ../sass/in_facebook.scss */
  0%, 10%, 20%, 30% {
    transform: translate3D(0, 0, 0) scale(0.8);
  }

  /* line 250, ../sass/in_facebook.scss */
  5%, 15%, 25% {
    transform: translate3D(5px, 0, 0) scale(0.8);
  }

  /* line 253, ../sass/in_facebook.scss */
  0%, 50% {
    opacity: 1;
  }

  /* line 256, ../sass/in_facebook.scss */
  50% {
    transform: scale(0.8);
  }

  /* line 259, ../sass/in_facebook.scss */
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
}

/* line 264, ../sass/in_facebook.scss */
.ds-friend {
  border-radius: 200px;
  background: #3d5a99;
  padding: 10px;
  float: left;
  line-height: 1em;
  box-shadow: 0 0 3px #16337c inset, 0 0 3px #16337c inset;
  position: absolute;
  transform: rotate(0deg) scale(0.8);
  transform-origin: center 120%;
  animation: rotate 1.5s infinite linear;
  transition: left 1s ease-in, top 1s ease-in, opacity 0.3s ease-in;
}
/* line 280, ../sass/in_facebook.scss */
.ds-friend:nth-child(1) {
  opacity: 1;
  left: 0px;
  top: 0px;
  animation-duration: 1.4s;
  z-index: 5;
}
/* line 287, ../sass/in_facebook.scss */
.ds-friend:nth-child(2) {
  opacity: 1;
  left: 280px;
  top: 30px;
  animation-duration: 1.5s;
  z-index: 4;
}
/* line 294, ../sass/in_facebook.scss */
.ds-friend:nth-child(3) {
  opacity: 1;
  left: 320px;
  top: 10px;
  animation-duration: 1.6s;
  z-index: 3;
}
/* line 301, ../sass/in_facebook.scss */
.ds-friend:nth-child(4) {
  opacity: 1;
  left: 370px;
  top: 20px;
  animation-duration: 1.4s;
  z-index: 2;
}
/* line 308, ../sass/in_facebook.scss */
.ds-friend:nth-child(5) {
  transition: none;
  opacity: 0;
  left: 370px;
  top: -10px;
  animation-duration: 1.7s;
  z-index: 1;
}
/* line 316, ../sass/in_facebook.scss */
.ds-friend:before {
  content: ' ';
  position: absolute;
  display: inline-block;
  background-image: radial-gradient(120px at 0 0, rgba(0, 0, 0, 0) 80%, #16337c 90%, #3d5a99 92%, #16337c 94%, #3d5a99 96%, #16337c 98%, #3d5a99 100%, #16337c 102%, #3d5a99 104%, #16337c 106%, #3d5a99 108%, #16337c 110%, #3d5a99 112%, #16337c 114%, #3d5a99 116%, #16337c 118%);
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  transform-origin: center center;
  transform: rotate(45deg) translate3D(25px, 25px, 0) scale(0.7);
  z-index: 10;
  box-shadow: -3px -3 3px 3px black inset, -3px -3 3px 3px black inset;
}
/* line 342, ../sass/in_facebook.scss */
.ds-friend:after {
  content: ' ';
  transition: transform 0.3s ease-in;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #4b76e0;
  z-index: 8;
  left: 50%;
  bottom: -40px;
  margin-left: -15px;
  animation: rotate2 2s infinite linear;
}
/* line 354, ../sass/in_facebook.scss */
.ds-friend.ds-fetch-success {
  opacity: 1;
  left: 0px;
  top: 0px;
  z-index: 5;
  animation: fetch_success 1s 1 ease-out normal forwards;
}
/* line 360, ../sass/in_facebook.scss */
.ds-friend.ds-fetch-success:after {
  transition: none;
  background-image: url(../images/success.png?123);
  background-color: transparent;
  width: 32px;
  height: 32px;
  transform: scale(1.25);
  animation: none;
  z-index: 10;
  left: 100%;
  margin-left: -48px;
  bottom: -20px;
}
/* line 373, ../sass/in_facebook.scss */
.ds-friend.ds-fetch-fail {
  opacity: 1;
  left: 0px;
  top: 0px;
  z-index: 5;
  animation: fetch_fail 1s 1 ease-out normal forwards;
}
/* line 379, ../sass/in_facebook.scss */
.ds-friend.ds-fetch-fail:after {
  transition: none;
  background-image: url(../images/fail.png?123);
  background-color: transparent;
  width: 32px;
  height: 32px;
  transform: scale(1.25);
  animation: none;
  z-index: 10;
  left: 100%;
  margin-left: -48px;
  bottom: -20px;
}
/* line 392, ../sass/in_facebook.scss */
.ds-friend .ds-thumb {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 200px;
  box-shadow: -2px -2px 3px #070f25, 0 0 5px #202f50, 0 0 5px #202f50, 0 0 5px #202f50;
}

@media screen and (min-width: 1240px) {
  /* line 404, ../sass/in_facebook.scss */
  .ds-logo {
    width: 496px;
    height: 496px;
    padding-top: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: calc(45% - 496px);
    float: left;
  }
}
@media screen and (max-width: 1000px) {
  /* line 414, ../sass/in_facebook.scss */
  .ds-container {
    align-items: flex-start;
  }

  /* line 417, ../sass/in_facebook.scss */
  .ds-logo {
    float: none;
    margin: auto;
    margin-top: -200px;
    margin-bottom: -50px;
  }

  /* line 423, ../sass/in_facebook.scss */
  .ds-body {
    margin-top: 20%;
    text-align: center;
    height: auto;
  }

  /* line 428, ../sass/in_facebook.scss */
  .ds-title {
    float: none;
    width: 100%;
    z-index: 1;
    text-align: center;
  }
  /* line 433, ../sass/in_facebook.scss */
  .ds-title h1 {
    line-height: normal;
    font-weight: bold;
    color: #4B66A0;
    text-shadow: 0 -2px 0 #BBB;
  }
  /* line 438, ../sass/in_facebook.scss */
  .ds-title h1:after {
    content: '';
  }
  /* line 442, ../sass/in_facebook.scss */
  .ds-title h2 {
    transform: none;
  }

  /* line 446, ../sass/in_facebook.scss */
  .ds-description {
    float: none;
    text-align: left;
    width: 500px;
    padding-left: 30px;
    margin: 20px auto;
  }

  /* line 453, ../sass/in_facebook.scss */
  .ds-start, .ds-download {
    float: none;
    margin-top: 20px;
  }

  /* line 457, ../sass/in_facebook.scss */
  .ds-processing {
    float: none;
    width: 500px;
    margin: 0 auto;
  }
}
